@font-face {
    font-family: Shojumaru; /* имя шрифта для CSS правил */
    src: local("Shojumaru"), /* проверяем наличие шрифта в ОС пользователя */
    url("/assets/other/Shojumaru-Regular.ttf"); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

.button1 {

    background: url("/assets/img/buttons1-bg.png") 100%;
    color: ghostwhite;
    height: 50px;
    font-weight: 700;
    border-radius: 15%;

}

.button2 {

    background: url("/assets/img/buttons2-bg.png") 100%;
    font-size: 25px;
    color: #3F2C1D;
    border-radius: 15%;

}

.keyboard {

    text-align: center;
    cursor: pointer;
    margin: 0 auto;

}

#buttons {
    text-align: center;
}

.keyboard button {

    font-family: 'Shojumaru', sans-serif;
    height: 57px;
    width: 57px;

}

#game {

    text-align: center;

}

tr td.active {

    background: dodgerblue;
    opacity: 0.15;

}

.fixed.active {
    background-color: #3c71b9;
}

table {

    font-family: 'Shojumaru', sans-serif;
    text-align: center;
    color: #3F2C1D;
    border-radius: 5px !important;
    border: 3px solid #9fa3a6;

}

table tbody {

    background-color: #D2BFA6;
    display: block;

}

table tr td {

    font-size: 36px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background-color: #FFF8E3;

}

.sudoku_game tr td {

    height: 57px;
    width: 60px;

}

.sudoku_game tr td:nth-child(3) {
    border-right: 3px solid #765539;
}

.sudoku_game tr td:nth-child(6) {
    border-right: 3px solid #765539;
}

.sudoku_game tr:nth-child(3) td {
    border-bottom: 3px solid #765539;
}

.sudoku_game tr:nth-child(6) td {
    border-bottom: 3px solid #765539;
}

#bambooked {
    border-collapse: separate;
    border-image: url(/assets/img/bamboo-border.png) 30 stretch;
    border-width: 50px;
}
.fifteens_game tr td {

    height: 70px;
    width: 90px;

}

.horseMove_game tr td {

    height: 57px;
    width: 57px;

}

.horseMove_game {
    margin: 0 auto;
    border-radius: 5px;
}

tr td:hover {

    background: dodgerblue;
    opacity: 0.15;
    text-shadow: 4px 5px 1px rgba(152, 150, 150, 0.99);

}

tr td.fixed {

    background-color: #FFF9F9;
    cursor: not-allowed;

}

#gameZoomer {

    left: 0;
    padding-left: 7vw;
    position: fixed;

}