@import url("http://fonts.googleapis.com/css?family=Aclonica");

body {

    /*background: url("/assets/img/old-paper.jpg");*/
    margin: auto;
    color: #3d4449;

}

.navbar.navbar-expand-lg.navbar-light.bg-light {

    display: none;
    position: fixed;
    /*background: url("/assets/img/navbar.jpg");*/
    top: 0;
    width: 100%;
    z-index: 1;

}

h1, h2 {

    color: #3d4449 !important;
    font-weight: 700 !important;
    line-height: 1.5;
    text-align: center;

}

h2 {

    margin-top: 1.5em;
    margin-bottom: 1.5em;

}

.navbar-brand {

    font: normal 30px 'Aclonica' !important;

}

.logo {

    color: ghostwhite;
    font: normal 36px 'Aclonica' !important;
    margin: 0;

}

.row {

    text-align: center;
    margin-left: 0;
    margin-right: 0;

}

footer {

    margin: 0;
    padding-top: 10px;
    background-color: #292c2f;
    color: ghostwhite;
    bottom: 0;
    width: 100%;

}

#list-tab * {
    z-index: 0;
}

footer .logoSpan {

    color: #5180ce;

}

footer a:hover {

    text-decoration: none;
    color: ghostwhite;

}

a.text {

    color: ghostwhite !important;

}

footer i {

    color: #33383b;

}

footer hr {

    width: 30%;
    background-color: ghostwhite;
    left: 0;

}

#home {

    background: url("/assets/img/sudoku.home.jpg") no-repeat fixed center;
    background-size: cover;
    width: 100vw;
    padding-top: 25vh;
    padding-bottom: 45vh;

}

#preview {

    color: ghostwhite;
    background-color: #0E1013;
    opacity: 0.7;
    width: 50%;
    padding: 20px 15px 15px;
    border-radius: 3px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 7px 10px 11px -1px rgba(61, 68, 73, 0.89);

}

#sudoku {

    color: ghostwhite;
    padding: 20px 10px 70px 0;
    text-align: right;
    background: url("/assets/img/sudoku.main.jpg") no-repeat fixed center;
    background-size: cover;
    transition: box-shadow 1s;

}

#sudoku:hover {

    box-shadow: inset 0 0 77px 2px rgba(14, 16, 19, 1);

}

#fifteens {

    padding: 20px 10px 70px 0;
    text-align: right;
    background: url("/assets/img/fifteens.main.jpg") no-repeat fixed center;
    background-size: cover;
    color: ghostwhite;
    transition: box-shadow 1s;

}

#fifteens:hover {

    box-shadow: inset 0 0 77px 2px rgba(14, 16, 19, 1);

}

#horseMove {

    padding: 20px 10px 70px 0;
    text-align: right;
    background: url("/assets/img/horseMove.main.jpg") no-repeat fixed center;
    background-size: cover;
    color: ghostwhite;
    transition: box-shadow 1s;
}

#horseMove:hover {

    box-shadow: inset 0 0 77px 2px #0d0f12;

}

a {

    padding: 10px;
    text-decoration: none !important;
    color: #abd6f2;

}

a:hover {

    color: #b4e3ff;

}

*:focus {
    outline: none;
}