h1{
    color: #6F2D02;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 1em 0;
    text-align: center;
}

.active{
    background-color: #f3e1be;
}

.Sudoku{
    border-radius: 5px;
    border: 3px solid #AC5711;
}
.Sudoku tr td{
    font: normal 36px 'Cookie', cursive;
    background-color: #F8EDD9;
    color: #6E2D02;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid;
    height: 44px;
    width: 40px;
}

.Sudoku tr td:hover{
    background-color: #F3E1BE;
    text-shadow: 4px 5px 1px #989696;
}

.Sudoku tr:nth-child(3) td {
    border-bottom: 3px solid;
}

.Sudoku tr:nth-child(6) td {
    border-bottom: 3px solid;
}

.Sudoku tr td:nth-child(3){
    border-bottom: 3px solid;
}

.Sudoku tr td:nth-child(6){
    border-bottom: 3px solid;
}

#keyboard tr td{
    background-color: #924210;
    color: #FFF7DF;
}

.Sudoku tr td.fixed{
    cursor: not-allowed;
}

body{
    background-color: #DDAF68;
}

button{
    color: #FCECCD;
    background-color: #F2CC81;
}

div[num]{
    cursor: pointer;
}